$TTL	604800
{{ domain }}.	IN	SOA	{{ domain }}. admin.{{ domain }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;

	IN  NS			 vm2.{{ domain }}.
	IN  A			 {{ dns_record[1].ip }}
{% for d in dns_record %}
{{ d.name }}   				 IN  {{ d.type }} {{ d.ip }}
{% endfor %}

{% if inventory_hostname in groups['grafana'] %}
{{ influxdb }}	IN {{ dns_record[1].type }} {{ dns_record[1].ip }}
{% endif %}

backup	IN	A	{{ backup }}